agree.exe
argv.exe
calculator.exe
discount.exe
hello.exe
hi.exe
length.exe
mario.exe
meow.exe
pennies.exe
points.exe
parity.exe
scores.exe
string.exe
uppercase.exe
address.exe
compare.exe
copy.exe
exit.exe
garbage.exe
iteration.exe
list.exe
memory.exe
names.exe
numbers.exe
phonebook.exe
recursion.exe
scanf.exe
swap.exe